/* Ñòèëè äëÿ ïàíåëè íàâèãàöèè */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Ñòèëè äëÿ ðàçäåëîâ ñòðàíèöû */
.section {
    display: none;
    padding: 20px;
}

.section.active {
    display: block;
}

/* Ñòèëè äëÿ èçîáðàæåíèÿ */
.site-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Пример CSS-анимации */
 .animate {
 animation: fadein 2s; 
 }
 @keyframes fadein {
 from { opacity: 0; } 
 to { opacity: 1; } 
 }

/* Анимация смена фона */
body {
    -webkit-animation: colorchange 60s infinite; 
    animation: colorchange 60s infinite;
}
@-webkit-keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}
@keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}   
